@use 'variables' as *;

.button-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;

  @media (min-width: 600px) {
    flex-direction: row;

    .reset-button,
    .paste-button {
      flex: 1;
      margin: 0;
    }
  }
}

.reset-button,
.paste-button {
  width: 100%;
  max-width: 800px;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
}

.reset-button {
  background-color: $bol-blue;
  color: #fff;
}

.paste-button {
  background-color: $bol-yellow;
  color: $bol-blue;
}

.toggle-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.theme-toggle-btn {
  background-color: #0000cc;
  color: black;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.theme-toggle-btn:hover {
  background-color: #ffdb47;
}
